$space-large: 2.5rem;

.page-title{
  margin-top: $space-large;
  margin-bottom: $space-large;
  color: purple;
}

input[type=search]{
  box-shadow: none;
}

.new_color_for{
  background-color: lightgreen;
}
